
$lobster: 'Lobster', cursive;
$bebas: BebasNeue;
$mint: #4ccfc1;
$grey: #A1a1A1;
$open: 'Open Sans', sans-serif;
$green: #3cc395;
$darkmint: #2da89b;
.BebasNeue { 
	font-family: BebasNeue;
	font-weight: normal;
	font-style: normal;
}

html {
	font-size: 62.5%;
}
.item > .row > div {
	margin: 0 auto;

}
.item > .row {
	margin-left: 80px;
}
.navbar-default {
	background-image: none;
	background-color: #FFF;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding-top: 40px;
}
.navbar-brand {
	font: 4.9rem $lobster;
	margin-right: 20px;
	padding: 0;
	display: inline;
	margin-top: 0;

}
.navbar-default .navbar-brand {
	color: $mint;
}
.navbar-nav {
	font: 2.1rem $bebas;
	background-color: $mint;
	margin-top: 13px;
		a {
			height: 30px;
		}
}
.navbar-nav>li>a {
	line-height: 0;
}
.navbar-nav li:not(:last-child){
	border-left: 2px solid white;
}
.form-ctrl {
	width: 30%;
	margin-left: 100px;
	margin-top: 20px;
	display: inline;
	float: left;
}
.basket-icon {
	background-image: url("../img/basket.png");
	width: 41px;
	height: 37px;
	float: right;
	display: inline;
}

.price {
	display: inline;
	float: right;
	font: 3.3rem $bebas;
	color: $grey;
}
.navbar-toggle {
	margin-top: 0px;
}
.menu-bg {
	background-color: $mint;
	margin-top: 30px;
	width: 100%;
	padding: 0 calc(50% - 600px);
	padding-bottom: 10px;
}
.navbar-default .navbar-nav>li>a {
	color: white;
}
.slider {
	background: url('../img/bg-slider.png') repeat;
	margin-top: -20px;
	width: 100%;
	padding: 0 calc(50% - 700px);
	padding-top: 80px;
	padding-bottom: 100px;
	p {
		font: 1.7rem $open;
		color: white;
		width: 80%;
		line-height: 2.8rem;
	}
}
.sld-h2 {
	font: 6.1rem $bebas;
	color: white;
}
.btn-white {
	background-color: transparent;
	border: 3px solid white;
	padding: 10px 22px;
	border-radius: 10px;
	color: white;
	font: 2.7rem $bebas;
	transition: 0.3s ease;
	&:hover {
		background-color: white;
		color: $mint;
	}
}
.btn-shop {
	background-color: $mint;
	color: white;
	padding: 10px 22px;
	border-radius: 10px;
	border: 2px solid $mint;
	font: 2.7rem $bebas;
	position: absolute;
	bottom: 20px;
	right: 100px;
	transition: 0.3s ease;
		&:hover {
			background-color: white;
			color: $mint;
		}
}
.small-slider {
	width: 100%;
	position: relative;
}



.grey-h2 {
	font-family: $bebas;
	color: $grey;
	font-size: 2.7rem;
	position: absolute;
	bottom: 70px;
	right: 100px;
		}
.bg-img1 {
	background: url('../img/trauses.jpg') no-repeat 10% 70% ;
	height: 190px;
	float: left;
}
.bg-img2 {
	background: url('../img/shoes.jpg') no-repeat 10% 70% ;
	height: 190px;
	float: left;
}
.bg-img3 {
	background: url('../img/t-shirt.jpg') no-repeat 10% 70% ;
	height: 190px;
	float: left;
}
.sm-sld-img div:nth-child(2) {
	border-left: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
}
.sm-sld-img > *{
	
	position: relative;
		button {
			position: absolute;
			bottom: 42px;
			right: 82px;
		}
		h2 {
			position: absolute;
			bottom: 94px;
			right: 82px;
		}
}
.sm-sld-img {
	position: relative;
}
.strap {
	height: 70px;
	background: url('../img/bg-slider.png') repeat;
	width: 100%;
	padding: 2rem calc(50% - 600px);
	font: 3.1rem $bebas;
	color: white;
}

.gl-img {
	height: 300px;
	border: 1px solid lightgrey;
	border-bottom: 4px solid $green;
	max-width: 300px;
	margin: 20px;
	position: relative;
	-webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
			box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
		h2 {
			font-family: $bebas;
			color: $grey;
			font-size: 2.7rem;
			position: absolute;
			bottom: 70px;
			right: 100px;
		}
		h3 {
			font-family: $bebas;
			color: $grey;
			font-size: 2.7rem;
			position: absolute;
			bottom: 70px;
			right: 100px;
		}
}
.ft-1 {
	background: url('../img/trau.jpg') 50% 15% no-repeat;
}
.ft-2 {
	background: url('../img/torba.jpg') 50% 15% no-repeat;
}
.ft-3 {
	background: url('../img/mata.jpg') 50% 15% no-repeat;
}
.ft-4 {
	background: url('../img/koszulka2.jpg') 50% 15% no-repeat;
}
.ft-5 {
	background: url('../img/but.jpg') 50% 15% no-repeat;
}
.ft-6 {
	background: url('../img/koszula.jpg') 50% 15% no-repeat;
}
.btn-gal {
	background-color: $mint;
	color: white;
	border-radius: 10px;
	border: 2px solid $mint;
	font: 2.7rem $bebas;
	position: absolute;
	transition: 0.3s ease;
	bottom: 16px;
	left: 100px;
	padding: 10px 15px;
	&:hover {
			background-color: white;
			color: $mint;
		}
}
.price2{
	position: absolute;
	left: 230px;
}
.main-footer {
	background-color: $mint;

	a {
		color: white;
		text-decoration: none;
	}
		h2 {
			margin: 43px;
			padding: 0;
			font: 2.7rem $bebas;
			color: white;
		}
		ul {
			list-style-type: none;
			list-style-position: inside;
			font: 1.5rem $open;
			color: white;
			line-height: 2.8rem;

		}
}
.footer-copyright {
	height: 46px;
	background-color: $darkmint;
	font: 1.5rem $open;
	color: white;
	padding-top: 20px;
	text-align: center;
}
.carousel-control.right,
.carousel-control.left {
	background-image: none;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
	margin-left: -80px;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
	margin-right: -80px;
}
/* ----------------------------------------------*/
@media (max-width: 968px){
	
button.navbar-toggle {
	margin-top: 10px;
}
.basket-price {
	margin-top: -38px;
	margin-right: 61px;
}
.price {
	display: inline;
	float: right;
	font: 3.3rem $bebas;
	color: $grey;

}
.gl-img {
		margin: 20px auto;
}
.form-ctrl {
	width: 40%;
	margin-left: 0px;
	margin-top: 20px;
}
.navbar-brand {
margin-left: 17px;
}
}