$lobster: 'Lobster', cursive;
$bebas: BebasNeue;
$mint: #4ccfc1;
$grey: #A1a1A1;
$open: 'Open Sans', sans-serif;
.BebasNeue { 
	font-family: BebasNeue;
	font-weight: normal;
	font-style: normal;
}

html {
	font-size: 62.5%;
}

.navbar-default {
	background-image: none;
	background-color: #FFF;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding-top: 20px;
}
.navbar-brand {
	font: 4.9rem $lobster;
	margin-right: 20px;
	padding: 0;

}
.navbar-default .navbar-brand {
	color: $mint;
}
.navbar-nav {
	font: 2.1rem $bebas;
	background-color: $mint;
	margin-top: 13px;
		a {
			height: 30px;
		}
}
.navbar-nav>li>a {
	line-height: 0;
}
.navbar-nav li:not(:last-child){
	border-left: 2px solid white;
}
.form-control {
	margin-top: 0;
	margin-bottom: 10px;
}
.basket-icon {
	background-image: url("../img/basket.png");
	width: 41px;
	height: 37px;
	float: right;
	display: inline;
}
.price {
	display: inline;
	float: right;
	font: 3.3rem $bebas;
	color: $grey;
}
.navbar-toggle {
	margin-top: 0px;
}
.menu-bg {
	background-color: $mint;
	margin-top: 30px;
}
.navbar-default .navbar-nav>li>a {
	color: white;
}
.slider {
	background: url('../img/bg-slider.png') repeat;
	margin-top: -20px;
	padding: 87px 0 20px 0;
	p {
		font: 1.7rem $open;
		color: white;
		width: 80%;
		line-height: 2.8rem;
	}

}
.sld-h2 {
	font: 6.1rem $bebas;
	color: white;
}
.btn-white {
	background-color: transparent;
	border: 3px solid white;
	padding: 10px 22px;
	border-radius: 10px;
	color: white;
	font: 2.7rem $bebas;
	transition: 0.3s ease;
	&:hover {
		background-color: white;
		color: $mint;
	}
}

@media (max-width: 968px){
.form-control {
margin-left: 10px;
width: 40%;

}
.basket-icon {
	background-image: url("../img/basket.png");
	width: 41px;
	height: 37px;
	margin-right: 75px;
	margin-top: -50px;
	float: right;
	display: inline;
}
.price {
	display: inline;
	float: right;
	font: 3.3rem $bebas;
	color: $grey;
	margin-right: 130px;
	margin-top: -50px;
}
}