/* line 6, ../sass/screen.scss */
.BebasNeue {
  font-family: BebasNeue;
  font-weight: normal;
  font-style: normal;
}

/* line 12, ../sass/screen.scss */
html {
  font-size: 62.5%;
}

/* line 16, ../sass/screen.scss */
.navbar-default {
  background-image: none;
  background-color: #FFF;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-top: 20px;
}

/* line 24, ../sass/screen.scss */
.navbar-brand {
  font: 4.9rem "Lobster", cursive;
  margin-right: 20px;
  padding: 0;
}

/* line 30, ../sass/screen.scss */
.navbar-default .navbar-brand {
  color: #4ccfc1;
}

/* line 33, ../sass/screen.scss */
.navbar-nav {
  font: 2.1rem BebasNeue;
  background-color: #4ccfc1;
  margin-top: 13px;
}
/* line 37, ../sass/screen.scss */
.navbar-nav a {
  height: 30px;
}

/* line 41, ../sass/screen.scss */
.navbar-nav > li > a {
  line-height: 0;
}

/* line 44, ../sass/screen.scss */
.navbar-nav li:not(:last-child) {
  border-left: 2px solid white;
}

/* line 47, ../sass/screen.scss */
.form-control {
  margin-top: 0;
  margin-bottom: 10px;
}

/* line 51, ../sass/screen.scss */
.basket-icon {
  background-image: url("../img/basket.png");
  width: 41px;
  height: 37px;
  float: right;
  display: inline;
}

/* line 58, ../sass/screen.scss */
.price {
  display: inline;
  float: right;
  font: 3.3rem BebasNeue;
  color: #A1a1A1;
}

/* line 64, ../sass/screen.scss */
.navbar-toggle {
  margin-top: 0px;
}

/* line 67, ../sass/screen.scss */
.menu-bg {
  background-color: #4ccfc1;
  margin-top: 30px;
  width: 100%;
  padding: 0 calc(50% - 600px);
}

/* line 73, ../sass/screen.scss */
.navbar-default .navbar-nav > li > a {
  color: white;
}

/* line 76, ../sass/screen.scss */
.slider {
  background: url("../img/bg-slider.png") repeat;
  margin-top: -20px;
  padding: 87px 0 20px 0;
}
/* line 80, ../sass/screen.scss */
.slider p {
  font: 1.7rem "Open Sans", sans-serif;
  color: white;
  width: 80%;
  line-height: 2.8rem;
}

/* line 88, ../sass/screen.scss */
.sld-h2 {
  font: 6.1rem BebasNeue;
  color: white;
}

/* line 92, ../sass/screen.scss */
.btn-white {
  background-color: transparent;
  border: 3px solid white;
  padding: 10px 22px;
  border-radius: 10px;
  color: white;
  font: 2.7rem BebasNeue;
  transition: 0.3s ease;
}
/* line 100, ../sass/screen.scss */
.btn-white:hover {
  background-color: white;
  color: #4ccfc1;
}

@media (max-width: 968px) {
  /* line 107, ../sass/screen.scss */
  .form-control {
    margin-left: 10px;
    width: 40%;
  }

  /* line 112, ../sass/screen.scss */
  .basket-icon {
    background-image: url("../img/basket.png");
    width: 41px;
    height: 37px;
    margin-right: 75px;
    margin-top: -50px;
    float: right;
    display: inline;
  }

  /* line 121, ../sass/screen.scss */
  .price {
    display: inline;
    float: right;
    font: 3.3rem BebasNeue;
    color: #A1a1A1;
    margin-right: 130px;
    margin-top: -50px;
  }
}
