/* line 9, ../sass/screen.scss */
.BebasNeue {
  font-family: BebasNeue;
  font-weight: normal;
  font-style: normal;
}

/* line 15, ../sass/screen.scss */
html {
  font-size: 62.5%;
}

/* line 19, ../sass/screen.scss */
.navbar-default {
  background-image: none;
  background-color: #FFF;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-top: 40px;
}

/* line 27, ../sass/screen.scss */
.navbar-brand {
  font: 4.9rem "Lobster", cursive;
  margin-right: 20px;
  padding: 0;
  display: inline;
  margin-top: 0;
}

/* line 35, ../sass/screen.scss */
.navbar-default .navbar-brand {
  color: #4ccfc1;
}

/* line 38, ../sass/screen.scss */
.navbar-nav {
  font: 2.1rem BebasNeue;
  background-color: #4ccfc1;
  margin-top: 13px;
}
/* line 42, ../sass/screen.scss */
.navbar-nav a {
  height: 30px;
}

/* line 46, ../sass/screen.scss */
.navbar-nav > li > a {
  line-height: 0;
}

/* line 49, ../sass/screen.scss */
.navbar-nav li:not(:last-child) {
  border-left: 2px solid white;
}

/* line 52, ../sass/screen.scss */
.form-ctrl {
  width: 30%;
  margin-left: 100px;
  margin-top: 20px;
  display: inline;
  float: left;
}

/* line 59, ../sass/screen.scss */
.basket-icon {
  background-image: url("../img/basket.png");
  width: 41px;
  height: 37px;
  float: right;
  display: inline;
}

/* line 67, ../sass/screen.scss */
.price {
  display: inline;
  float: right;
  font: 3.3rem BebasNeue;
  color: #A1a1A1;
}

/* line 73, ../sass/screen.scss */
.navbar-toggle {
  margin-top: 0px;
}

/* line 76, ../sass/screen.scss */
.menu-bg {
  background-color: #4ccfc1;
  margin-top: 30px;
  width: 100%;
  padding: 0 calc(50% - 600px);
  padding-bottom: 10px;
}

/* line 83, ../sass/screen.scss */
.navbar-default .navbar-nav > li > a {
  color: white;
}

/* line 86, ../sass/screen.scss */
.slider {
  background: url("../img/bg-slider.png") repeat;
  margin-top: -20px;
  width: 100%;
  padding: 0 calc(50% - 700px);
  padding-top: 80px;
  padding-bottom: 100px;
}
/* line 93, ../sass/screen.scss */
.slider p {
  font: 1.7rem "Open Sans", sans-serif;
  color: white;
  width: 80%;
  line-height: 2.8rem;
}

/* line 100, ../sass/screen.scss */
.sld-h2 {
  font: 6.1rem BebasNeue;
  color: white;
}

/* line 104, ../sass/screen.scss */
.btn-white {
  background-color: transparent;
  border: 3px solid white;
  padding: 10px 22px;
  border-radius: 10px;
  color: white;
  font: 2.7rem BebasNeue;
  transition: 0.3s ease;
}
/* line 112, ../sass/screen.scss */
.btn-white:hover {
  background-color: white;
  color: #4ccfc1;
}

/* line 117, ../sass/screen.scss */
.btn-shop, .btn-gal {
  background-color: #4ccfc1;
  color: white;
  padding: 10px 22px;
  border-radius: 10px;
  border: 2px solid #4ccfc1;
  font: 2.7rem BebasNeue;
  position: absolute;
  transition: 0.3s ease;
}
/* line 126, ../sass/screen.scss */
.btn-shop:hover, .btn-gal:hover {
  background-color: white;
  color: #4ccfc1;
}

/* line 131, ../sass/screen.scss */
.small-slider {
  width: 100%;
  position: relative;
}

/* line 135, ../sass/screen.scss */
.chevron-left {
  position: absolute;
  top: 43%;
  left: 0;
  width: 20px;
  height: 100px;
  cursor: pointer;
  opacity: 0.5;
  font-size: 30px;
  transition: 0.3s ease;
}
/* line 145, ../sass/screen.scss */
.chevron-left:hover, .chevron-left:focus {
  opacity: 1;
}

/* line 150, ../sass/screen.scss */
.chevron-right {
  position: absolute;
  top: 43%;
  right: 10px;
  width: 20px;
  height: 100px;
  cursor: pointer;
  opacity: 0.5;
  font-size: 30px;
  transition: 0.3s ease;
}
/* line 160, ../sass/screen.scss */
.chevron-right:hover, .chevron-right:focus {
  opacity: 1;
}

/* line 166, ../sass/screen.scss */
.grey-h2, .gl-img h2, .gl-img h3 {
  font-family: BebasNeue;
  color: #A1a1A1;
  font-size: 2.7rem;
  position: absolute;
}

/* line 172, ../sass/screen.scss */
.bg-img1 {
  background: url("../img/trauses.jpg") no-repeat 10% 70%;
  height: 190px;
}

/* line 176, ../sass/screen.scss */
.bg-img2 {
  background: url("../img/shoes.jpg") no-repeat 10% 70%;
  height: 190px;
}

/* line 180, ../sass/screen.scss */
.bg-img3 {
  background: url("../img/t-shirt.jpg") no-repeat 10% 70%;
  height: 190px;
}

/* line 184, ../sass/screen.scss */
.sm-sld-img div:nth-child(2) {
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

/* line 188, ../sass/screen.scss */
.sm-sld-img > * {
  position: relative;
}
/* line 191, ../sass/screen.scss */
.sm-sld-img > * button {
  position: absolute;
  bottom: 42px;
  right: 82px;
}
/* line 196, ../sass/screen.scss */
.sm-sld-img > * h2 {
  position: absolute;
  bottom: 94px;
  right: 82px;
}

/* line 202, ../sass/screen.scss */
.sm-sld-img {
  position: relative;
}

/* line 205, ../sass/screen.scss */
.strap {
  height: 70px;
  background: url("../img/bg-slider.png") repeat;
  width: 100%;
  padding: 2rem calc(50% - 600px);
  font: 3.1rem BebasNeue;
  color: white;
}

/* line 214, ../sass/screen.scss */
.gl-img {
  height: 300px;
  border: 1px solid lightgrey;
  border-bottom: 4px solid #3cc395;
  max-width: 300px;
  margin: 20px;
  position: relative;
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
}
/* line 224, ../sass/screen.scss */
.gl-img h2 {
  bottom: 100px;
  left: 77px;
}
/* line 229, ../sass/screen.scss */
.gl-img h3 {
  bottom: 40px;
  left: 50px;
}

/* line 235, ../sass/screen.scss */
.ft-1 {
  background: url("../img/trau.jpg") 50% 15% no-repeat;
}

/* line 238, ../sass/screen.scss */
.ft-2 {
  background: url("../img/torba.jpg") 50% 15% no-repeat;
}

/* line 241, ../sass/screen.scss */
.ft-3 {
  background: url("../img/mata.jpg") 50% 15% no-repeat;
}

/* line 244, ../sass/screen.scss */
.ft-4 {
  background: url("../img/koszulka2.jpg") 50% 15% no-repeat;
}

/* line 247, ../sass/screen.scss */
.ft-5 {
  background: url("../img/but.jpg") 50% 15% no-repeat;
}

/* line 250, ../sass/screen.scss */
.ft-6 {
  background: url("../img/koszula.jpg") 50% 15% no-repeat;
}

/* line 253, ../sass/screen.scss */
.btn-gal {
  position: absolute;
  bottom: 36px;
  left: 125px;
}

/* line 259, ../sass/screen.scss */
.main-footer {
  background-color: #4ccfc1;
}
/* line 262, ../sass/screen.scss */
.main-footer a {
  color: white;
  text-decoration: none;
}
/* line 266, ../sass/screen.scss */
.main-footer h2 {
  margin: 43px;
  padding: 0;
  font: 2.7rem BebasNeue;
  color: white;
}
/* line 272, ../sass/screen.scss */
.main-footer ul {
  list-style-type: none;
  list-style-position: inside;
  font: 1.5rem "Open Sans", sans-serif;
  color: white;
  line-height: 2.8rem;
}

/* line 281, ../sass/screen.scss */
.footer-copyright {
  height: 46px;
  background-color: #2da89b;
  font: 1.5rem "Open Sans", sans-serif;
  color: white;
  padding-top: 20px;
  text-align: center;
}

/* ----------------------------------------------*/
@media (max-width: 968px) {
  /* line 292, ../sass/screen.scss */
  button.navbar-toggle {
    margin-top: 10px;
  }

  /* line 295, ../sass/screen.scss */
  .basket-price {
    margin-top: -38px;
    margin-right: 61px;
  }

  /* line 299, ../sass/screen.scss */
  .price {
    display: inline;
    float: right;
    font: 3.3rem BebasNeue;
    color: #A1a1A1;
  }

  /* line 306, ../sass/screen.scss */
  .gl-img {
    margin: 20px auto;
  }

  /* line 309, ../sass/screen.scss */
  .form-ctrl {
    width: 40%;
    margin-left: 0px;
    margin-top: 20px;
  }

  /* line 314, ../sass/screen.scss */
  .navbar-brand {
    margin-left: 17px;
  }
}
